<h1>Vms#new</h1>
<p>Find me in app/views/vms/show.html.erb</p>



  <%= @vm.id %>
  <%= @vm.title %><br>
  <%= @vm.ip %>  
<br> 

  <%= @vm.users %>                                                                                                                                                                     



















